<app-titulo title="Canasta" margin="1.5rem 0 0 2.5rem"></app-titulo>
<app-not-found [visible] = "!canasta || !canasta.items.length"
notFoundMensaje = "Canasta vacía"
resetLinkText = "Ir a la pantalla principal">
</app-not-found>
<div *ngIf="canasta && canasta.items.length > 0"class="container">
    <ul>
        <li *ngFor="let canastaItem of canasta.items">
            <div>
                <img [src]="canastaItem.comida.imagenUrl" [alt]="canastaItem.comida.nombre">
            </div>
            <div>
                <a routerLink="/comida/{{canastaItem.comida.id}}">
                    {{canastaItem.comida.nombre}}
                </a>
            </div>
            <div>
             <select #quantitySelect [value] = "canastaItem.cantidad" (change)="cambiarCantidad(canastaItem, quantitySelect.value)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>

             </select>
             <div>
                {{canastaItem.precio | currency}}
             </div>

             <div>
                <button class="remove-button" (click)="removerDeCanasta(canastaItem)">Remover</button>
             </div>

            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="contador">{{canasta.itemsTotal}}</div>
            <div class="precio-total">{{canasta.precioTotal | currency}}</div>
        </div>

        <a routerLink="/checkout">Proceder al pago</a>
    </div>
</div>
