<!-- <p>header works!</p> -->
<header>
    <div class="container">
        <a routerLink="/Home" class="logo">Rappidito</a>
        <nav>
            <ul>
                <li *ngIf="!usuario
                .token">
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">{{usuario.nombre}}</a>
                    <div class="menu">
                        <!-- <a routerLink="/perfil">Perfil</a> -->
                        <a routerLink="/pedidos">Pedidos</a>
                        <a (click)="logout()">Cerrar Sesión</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/canasta-page">  <span class="material-symbols-outlined shopping-cart">
                        shopping_cart_checkout
                        </span> <span *ngIf="canastaCantidad" class="span-cart">{{canastaCantidad}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>