<!-- <p>header works!</p> -->
<header>
    <div class="container">
        <a routerLink="/" class="logo">Rappidito</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Jero</a>
                    <div class="menu">
                        <a routerLink="/perfil">Perfil</a>
                        <a routerLink="/pedidos">Pedidos</a>
                        <a>Cerrar Sesión</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/panel-carrito">  <span class="material-symbols-outlined shopping-cart">
                        shopping_cart_checkout
                        </span><span class="span-cart">3</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>