button{
    background-color: #ff7c64;
    border: 1px solid #ff7c64;
}

.bg{
    background-image: url(mi-tienda.webp);
    background-position: center center;
}

.container{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
}

.imagen{
    padding-right: 5rem;
}

.col{
    margin-left: 2rem;
}