<div>
<br/>

    <div class="container">
        <div class="row">
            <div class="col bg">

            </div>
            <br/>
            <br/>
            <div class="col ">
                <h2 class="fw-bold text-center py-5">Bienvenido a Rappidito</h2>
                <form>
            
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo Eléctronico</label>
                        <input type="email" name="email" placeholder="Correo electronico" class="form-control">
                    </div>
                    <br/>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" name="password" placeholder="Contraseña" class="form-control">
                    </div>
                    <br/>
                    <div class="d-grid">
                        <button type="submit" name="boton" class="btn btn-primary">Iniciar Sesión</button>
                    </div>

                    <div class="my-3">
                        <span>No tienes una cuenta? <a routerLink="/registro"> Registrate</a></span>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>