<app-header></app-header>
<div class="container">
    <div class="content">
      <app-titulo title="Pedido" fontSize="1.6rem"></app-titulo>
    
      <app-pedido-lista-items [pedido]="pedido"></app-pedido-lista-items>
    </div>
    <div class="map">
      <app-titulo
      title="Escoge tu dirección en el mapa"
      fontSize="1.6rem"></app-titulo>

      <app-mapa></app-mapa>

    <div class="buttons-container">
      <div class="buttons">
        <button (click)="crearPedido()">
          Ir al pago
        </button>
      </div>
    </div>
  </div>