

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  
}

li a{ /*Envuelve a cada cuadro de comida, */
    height: 24rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    background-color: lightgray;
  }

li a img{ /*Organiza todas las imagenes a un mismo tamano*/
    object-fit: cover;
    height: 14.5rem;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
  }
.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}
  
.favorite.not{
    color: grey;
  }

.stars{
    margin-bottom: 0.2rem;
 }

.price{
    position: absolute;
    bottom: 0.5;
    left: 0.9rem;
    background: white;
    padding: 0.3rem 100% 0 0;
    color: #414141;
    margin-top: 0rem;
    font-size: 1.1rem;
    background-color: lightgray;
    margin-bottom: 0.2rem;
  
}
/* .price span{
  padding-bottom:10;
} */

.cook-time{
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
}

.restaurant{
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
}